openstack_user_name = "${openstack_user_name}"
openstack_tenant_name = "${openstack_tenant_name}"
openstack_password = "${openstack_password}"
openstack_auth_url = "${openstack_auth_url}"
openstack_region = "${openstack_region}"
openstack_domain_name = "${openstack_domain_name}"
